[submodule "luci-app-netgrok"]
	path = luci-app-netgrok
	url = https://github.com/ghost-in-the-bash/luci-app-netgrok.git
	branch = master
[submodule "sslsplit-netgrok/src"]
	path = sslsplit-netgrok/src
	url = https://github.com/ghost-in-the-bash/sslsplit-netgrok.git
	branch = master
